on post-fs-data
    mkdir /data/performance 0771 system system  encryption=None
    mkdir /data/performance/gift 0771 system system  encryption=None
    copy /vendor/etc/arc.ini /data/performance/gift/arcdefault.ini
    chown system system /data/performance/gift/arcdefault.ini
