service bootanim /system/bin/bootanimation
    class core animation
    user graphics
    group graphics audio
    disabled
    oneshot
    ioprio rt 0
    task_profiles MaxPerformance
#SDD:add by wentao.liu for ANDROIDRBE-52 20200325 start
service banim_shutmp3 /system/bin/bootanimation shut mp3
    class core animation
    user graphics
    group graphics audio
    disabled
    oneshot
    ioprio rt 0
    task_profiles MaxPerformance
service banim_shutnomp3 /system/bin/bootanimation shut nomp3
    class core animation
    user graphics
    group graphics audio
    disabled
    oneshot
    ioprio rt 0
    task_profiles MaxPerformance
#SDD:add by wentao.liu for ANDROIDRBE-52 20200325 end
