service servicemanager /system/bin/servicemanager
    class core animation
    user system
    group system readproc
    critical
    onrestart restart apexd
    onrestart restart audioserver
    onrestart restart gatekeeperd
    onrestart class_restart main
    onrestart class_restart hal
    onrestart class_restart early_hal
    writepid /dev/cpuset/system-background/tasks
#SPD: add pnp2.0 porting KBBGHLESGQ-7880 by yuanjiong.gao 20191111 start
    writepid /dev/blkio/pnpmgr_fg/cgroup.procs
#SPD: add pnp2.0 porting KBBGHLESGQ-7880 by yuanjiong.gao 20191111 end
    shutdown critical
